<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <!-- All connection strings defined in this file. This file must be in same directory as app.config -->
  <connectionStrings configSource=".\Config\OsamesOrmDbConnexions.config"/>
  <!-- All app settings defined in this file.  -->
  <appSettings configSource=".\Config\OsamesOrm.config"/>
  <system.data>
  </system.data>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2"/>
    <sources>
      <source name="osamesOrmTraceSource" switchName="mySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="OsamesOrm.log" traceOutputOptions="DateTime">
            <!-- le filtre laisse passer les message de niveau personnalisé -->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
          </add>
        </listeners>
      </source>
      <source name="osamesOrmDetailedTraceSource" switchName="mySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="OsamesOrm_err_detail.log" traceOutputOptions="DateTime, Callstack">
            <!-- le filtre laisse passer les message de niveau erreur seulement -->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
          </add>
         </listeners>
      </source>
    </sources>
    <switches>
      <!-- un seul switch qui permet à tous les listeners d'écouter -->
      <add name="mySwitch" value="All"/>
    </switches>
  </system.diagnostics>

  <runtime>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
