<?xml version="1.0" encoding="utf-8" ?>
<!--/*
This file is part of OSAMES Micro ORM.
Copyright 2014 OSAMES

OSAMES Micro ORM is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OSAMES Micro ORM is distributed in the hope that it will be useful,
GNU Affero General Public License for more details.

but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
You should have received a copy of the GNU Affero General Public License
along with OSAMES Micro ORM.  If not, see <http://www.gnu.org/licenses/>.
*/-->
  <appSettings>
    <!-- Configuration folder -->
    <add key="configurationFolder" value="\\\Config\"/>
    <add key="xmlSchemasFolder" value="Config\xml_schemas"/>
    <add key="activeDbConnection" value="OsamesMicroORM.LocalDB"/>
    <!-- Xml Schemas Validating files -->
    <add key="sqlTemplatesSchemaFileName" value="sqlTemplates.xsd"/>
    <add key="mappingSchemaFileName" value="omo-mapping.xsd"/>
    <!-- Sql template configuration -->
    <add key="sqlTemplatesFileName" value="sqltemplates.xml"/>
    <!-- Mapping configuration -->
    <add key="mappingFileName" value="omo-mapping.xml"/>
    <!-- context: 0 = log file, 1 = console, 2 = winform/wpf, 3 = webservice -->
    <add key="context" value="0"/>
  </appSettings>