<?xml version="1.0" encoding="utf-8" ?>
<!--/*
This file is part of OSAMES Micro ORM.
Copyright 2014 OSAMES

OSAMES Micro ORM is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OSAMES Micro ORM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with OSAMES Micro ORM.  If not, see <http://www.gnu.org/licenses/>.
*/-->
  <connectionStrings>
    <add name="OsamesMicroORM.Access.PWD" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=;Persist Security Info=False;Password=;" providerName="System.Data.OleDb" />
    <add name="OsamesMicroORM.Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=;Persist Security Info=False;" providerName="System.Data.OleDb" />
    <add name="OsamesMicroORM.LocalDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\Chinook.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="OsamesMicroORM.MySQL" connectionString="Server=;Port=;Database=;Uid=;Pwd=;" providerName="MySql.Data.MySqlClient" />
    <add name="OsamesMicroORM.PostgreSQL" connectionString="Server=;Port=;Database=;Uid=;Pwd=;" providerName="Npgsql" />
    <add name="OsamesMicroORM.Sqlite" connectionString="Data Source=|DataDirectory|\DB\Chinook_Sqlite.sqlite;Version=3;UTF8Encoding=True;Pooling=False;Max Pool Size=100;Read Only=False;" providerName="System.Data.SQLite" />
    <add name="test" connectionString="test" providerName="" />
  </connectionStrings>
