<?xml version="1.0" encoding="utf-8" ?>
<!--/*
This file is part of OSAMES Micro ORM.
Copyright 2014 OSAMES

OSAMES Micro ORM is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OSAMES Micro ORM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with OSAMES Micro ORM.  If not, see <http://www.gnu.org/licenses/>.
*/-->
  <connectionStrings>
    <add name="OsamesMicroORM.Access.PWD" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=$dbPath$dbName;Persist Security Info=False;Password=$dbPassword;" providerName="System.Data.OleDb" />
    <add name="OsamesMicroORM.Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=$dbPath$dbName;Persist Security Info=False;" providerName="System.Data.OleDb" />
    <add name="OsamesMicroORM.LocalDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\OsamesMicroORM.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OsamesMicroORM.Sqlite" connectionString="Data source=$dbPath$dbName;Version=3;UTF8Encoding=True;" providerName="System.Data.SQLite" />
  </connectionStrings>
